* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1300px;
    margin: 0 auto;
    padding: 0px 32px;
}

section {
    width: 100%;
    background-color: rgb(87, 89, 136);
}

.sectioncon {
    padding: 100px 32px;
    display: flex;
    justify-content: space-between;

}

.footer1_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 34%;

}

.text1 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

.text2 {
    font-size: 14px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.buttons_ {
    width: 40%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.button_1 {
    width: 400px;
    padding: 12px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.button_2 {
    width: 190px;
    padding: 12px 10px;
    border: none;
    font-size: 15px;
    color: white;
    transition: 0.4s ease;
    border-radius: 5px;
    background-color: rgb(47, 101, 248);
}


@media screen and (max-width:768px) {
        .footer1_text{
            width: 100%;
            justify-content: center;
            align-items:center;
          }
          h2{
            text-align: center;
        }
        p{
            text-align: center;
            width: 80%;

        }
        .sectioncon{
            flex-direction: column;
            gap: 50px;
            }
            .buttons_{
                width: 100%;
                justify-content: center;
                align-items:center;
                gap: 10px;
            }
            .button_1 {
                width: 300px;    
            }
            .button_2 {
                width: 300px;

            }
        
    }





































footer {
    width: 100%;
    background-color: #07043b;
    padding-bottom: 60px;
  }
  
  footer .footer2 {
    padding: 30px 32px;
    display: flex;
        flex-wrap: wrap;

            justify-content: space-between;
  }
  
  footer .footer2 .logodive {
    width: 100%;
    display: flex;
    position: relative;
    top: 50px;
  }
  
  footer .footer2 .logodive .logodiv {
    width: 150px;
    height: 150px;
  }
  
  footer .footercon .logodive .logodiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.column_1 {

    display: flex;
            flex-direction: column;
    gap: 10px;
  }
  
  .column_1 div {
    display: flex;
    gap: 20px;
  }
  
  .column_1 div p {
    color: white;
    cursor: pointer;
    font-size:15px;
  }
  
  .column_1 div p:hover {
    color: #71dfcc;
  }
  
  .column_1 div p {
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Raleway", sans-serif;
  }

 .column_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  a{
    text-decoration: none;
  }
  
.column_2 a {
    color: white;
    transition: 0.3s ease;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
  }
  
  .column_2 a:hover {
    color: #6c9bff;
  }
  
  .column_3 {

    display: flex;

            flex-direction: column;
    gap: 20px;
  }
  
.column_3 a{
    color: white;
    transition: 0.3s ease;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
  }
  
.column_3 a:hover {
    color: #6c9bff;
  }
  
.column_4 {
    display: flex;
    width: 20%;
    gap: 15px;
  }
  
  .column_4 i {
    cursor: pointer;
    padding: 5px;
    border-radius: 9999999px;
    border: 2px solid white;
    transition: 0.3s ease;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: white;
  }
  
  @media screen and (max-width:768px) {
    footer{
        .footer2{

            flex-direction: column;
            gap: 48px;
            .column_4{
                width: 100%;
                justify-content: center;
            }
        }
    }
}